html {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    /* use Open sans as default, if "open sans" is not available, we use sans serif, arial, helvetica */
}

/* ----------------------------- for mobile screens --------------------------- */
header {
    background-color: black;
    color: #c68c2b;
    padding: 10px;
    display: flex;
    flex-direction: column;
} 
nav {
    width: 100%;
}
.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.navigation-list > li {
    width: 100%;
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}
.navigation-list > li:first-child {
    background-color: #c68c2b;
    text-align: start;
    padding: 0;
}
.navigation-list > :nth-child(2) {
    background-color: #c68c2b;
    color: black;
}

.search {
    width: 100%;
    display: flex;
}
.search > input {
    width: 100%
}
.fa-magnifying-glass {
    border:1px solid #c68c2b;
    padding: 5px;
}
.section-welcome {
    width: 100%;
    height: 450px;
    background: url("../images/main-banner.jpg") no-repeat center;
    background-size: 100% 450px;
    display: flex;
    align-items: center;
}
.box {
    width: 100%;
    height: 350px;
    color: #fff;
    background: rgba(0,0,0,.5);
}

.welcome-text {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin: 40px 0 15px;
}
.box {
    padding: 15px;
}
.rectangle {
    background-color: #c68c2b; 
    text-align: center;
    padding: 20px;
    border: none;

}
.section-about {
    width: 100%;
    background-color: #ffe6ac;
}

.section-about .container {
    padding: 10px;
}

.about-us {
    width: 100%;
    height: 60%;
}
.digital {
    width: 100%;
}
.section-digital .container {
  display: flex;
  flex-direction: column;
}

.digital-text, .marketing-text {
    background-color: #ffe6ac;
    padding: 10px;
}

.section-marketing {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.marketing-image {
    width: 100%;
}
.section-video {
    margin-top: 10px;
    display: flex;
    flex-direction: column;  
}
.video-production {
    width: 100%;
}
.video-text {
    background-color: #ffe6ac;
    padding: 10px;
}
.section-web {
    margin-top: 10px;
    display: flex;
    flex-direction: column; }
.webdev-image {
        width: 100%; }
.webdev-text {
            background-color: #ffe6ac;
            padding: 10px; }

            .section-print {
                margin-top: 10px;
                display: flex;
                flex-direction: column; }
            .print-image {
                    width: 100%; }
            .print-text {
                        background-color: #ffe6ac;
                        padding: 10px; }
.section-vision {
    background: url("../images/vision.jpg") no-repeat center;
    background-size: 100% 250px;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    color:#fff;
}
.vision-content {
    padding: 10px;
}
.section-john {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}
.section-john h3 {
    margin: 0;
    border-bottom: 2px solid #c68c2b;
}
.john-image {
        width: 100%; 
    }
.john-text {
            background-color: #ffe6ac;
            padding: 10px;
            margin:  0;
}

.section-john, .section-bob {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
}
.section-bob h3 {
    margin: 0;
    border-bottom: 2px solid #c68c2b;
}
.bob-image {
        width: 100%; 
    }
.bob-text {
            background-color: #ffe6ac;
            padding: 10px;
            margin:  0;
}
.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
}
.contact-text {
    font-size: 50px;
}
.sendus-text {
    font-size: 35px;
}
.submit-button {
    background-color: black;
    color: #c68c2b;
    font-size: 20px;
    padding: 5px;
    width: fit-content;
    margin-top: 10px;
}
th, td {
    border: 1px solid;
    padding: 0;
}
.hour-table {
    width: 100%;
    border-spacing: 0;
}

.hour-table tr {
    padding: 0 10px;
    border: 1px solid #000;
    height: 40px;
   
}

.hour-table th {
    width: 50%;
    background-color: #ffe6ac;
    justify-content: center;
}
.operation {
    font-size: 35px;
}
.location-text {
    font-size: 35px;
}
.map iframe {
    width: 100%;
}
.footer {
    background-color: #000;
    color:#c68c2b;
    margin-top: 20px;
}
.copyright-text {
    margin: 10px;
    padding-bottom: 20px;
    color: #c68c2b;
   
}
.copy-right-icon{
padding-top: 20px;
}
.unplash{
    color: #c68c2b;
}
.button-digital, .mkt-button, .video-button, .web-button, .print-button  {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 40px;
    border: none;
    font-size: 15px;
}

.vision-button {
        background: rgba(0,0,0,.5);
        /* this color I researched and taken from w3school */
        text-align: center;
        padding: 20px;
        border: none;
        color:#fff;
        border: 1px solid #c68c2b;
}

/* ------------------------------ for desktop screens ------------------------------------- */
@media screen and (min-width: 760px) {
    body {
        display: flex;
        justify-content: center;
    }
    .main-container {
        max-width: 1200px;
        
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
    } 
    .navigation-list {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .navigation-list > li:first-child {
        background-color: inherit;
    }

    .navigation-list > li:first-child img {
        width: 50px;
        height: 50px;
    }

    .search {
        width: 30%;
        height: 25px;
    }
    .search > input {
        width: auto;
    }
    .box {
        margin: 0 50px;
    }

    .section-about .container {
        display: flex;
        flex-direction: row;
        margin: 0 40px;
    }

    .about-us {
        width: 50%;
        height: auto;
    }

    .about-us-text {
        margin-left: 10px;
    }
    .ourservices-text {
        padding: 0 50px;
    }
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;        
        grid-template-areas: 
            "first first first second second second"
            "third third four four fifth fifth";
        gap: 0 5px;
        padding: 0 50px;
    }
    .section-digital {
        grid-area: first;
    }

    .section-marketing {
        grid-area: second;
        margin-top: 0;
    }

    .section-digital img, .section-marketing img {
        height: 350px;
    }

    .section-video {
        grid-area: third;
    }

    .section-web {
        grid-area: four;
    }
    .section-print {
        grid-area: fifth;
    }

    .section-video img, .section-web img, .section-print img {
        height: 230px;
    }
    .section-vision {
        display: flex;
        align-items: center;
    }
    .vision-content {
        margin: 0 50px;
    }

    .section-john {
        display: flex;
        flex-direction: row;
        padding: 0 50px;
    }
    .john-image {
        width: 50%;
    }
    .john-text {
        width: 50%;
    }
    .ourteam-text {
        padding: 0 50px;
    }
    .section-bob {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0 50px;
    }
    .bob-image {
        width: 50%;
    }
    .bob-text {
        width: 50%;
    }
    .sendus-text {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    .location-text {
        display: flex;
        flex-direction: row; 
        margin-top: 0;
}
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    .contact-section {
        padding: 0 50px;
    }
    .message-wrapper {
        order: 1;
        width: 50%;
    }
    .contact-message-container {
       padding-right: 10px;
       padding-top: 0;
    }
    .operation-container {
        order: 3;
        width: 100%;
    }
    .location-container {
        order: 2;
        width: 50%;
    }
    .button-digital, .mkt-button, .video-button, .web-button, .print-button {
        background-color: black;
        text-align: center;
        border: none;
        width: 100%;
        color: white;
        height: unset !important;
    }
}